@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Black.ttf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-ExtraLight.ttf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: #0f0e11;
    --background-variant: #141414;

    --custom-green: #55b02e;
    --custom-red: #e93030;
    --custom-gray: #71717a;
    --custom-light-gray: #b8b8b8;
    --custom-white: #ffffff;

    --dark-green: #161716;
    --dark-gray: #1f1f21;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
